# .vscode 폴더 (VSCode 설정)
.vscode/
.build/

# C++ 빌드 파일
*.out
*.exe
*.o
*.obj
*.a
*.so

# CMake 빌드 디렉토리 (CMake를 사용하는 경우)
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.cmake

# 빌드 디렉토리 (일반적인 빌드 시스템)
build/
Debug/
Release/

# IntelliJ IDEA와 같은 IDE에서 생성하는 파일들 (IDE 사용 시)
.idea/
